[user]
	name = Oriol Soriano
	email = oriol.soriano@capside.com
[alias]
	st = status -sb
	co = checkout
    ci = commit
    df = diff
    glo = log --graph --oneline --decorate --all
    gloo = log --graph --abbrev-commit --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[color]
	ui = true
