[user]
    name = Oriol Soriano
    email = oriolsoriano@gmail.com
[core]
    excludesfile = ~/.gitignore
    editor = vim
[alias]
    st = status
    co = checkout
    ci = commit
    df = diff
    br = branch
    glo = log --graph --oneline --decorate --all
    gloo = log --graph --abbrev-commit --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[color]
	ui = true
