[user]
    name = Oriol Soriano
    email = oriolsoriano@gmail.com
[core]
    excludesfile = ~/.gitignore
    editor = vim
[diff]
    noprefix = true
[alias]
    st = status
    co = checkout
    ci = commit
    df = diff
    br = branch
    glo = log --graph --oneline --decorate --all
    gloo = log --graph --abbrev-commit --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    l = log --name-status
    purge-branches = !sh -c 'git branch --merged | grep -v "^*" | xargs git branch -d'
[color]
    ui = true
[color "diff"]
    meta = yellow
    #frag = cyan
    #old = red bold
    #new = green bold
